// Custom CSS
html {
    font-size: 16px;
  
    @include breakpoint($medium) {
      font-size: 18px;
    }
  
    @include breakpoint($large) {
      font-size: 20px;
    }
  
    @include breakpoint($x-large) {
      font-size: 20px;
    }
}

::selection {
  background: #ffcccc; /* Pink background */
  color: #000000; /* Black text */
}
::-moz-selection {
  background: #ffcccc; /* Pink background */
  color: #000000; /* Black text */
}